<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 

</head>
<body>
   <div class="container">
       <hr>
       <h1>
           Perguntas
           </h1>
           <a href="/perguntar" class="btn btn-primary">Perguntar</a>
           <hr>

<% perguntas.forEach(pergunta => {%>
<div class="card">

    <div class="card-body">
        <h3>
            <%= pergunta.titulo%>
        </h3>
    </div>
    <div class="card-footer"> 
<a href="/pergunta/<%= pergunta.id %>">

 <button class="btn btn-primary" >


Responder
</button>        
</a>

    </div>
</div>


<% })%>

   </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>